
table {
	table-layout:fixed;
}

td.answered {
	background-color: cyan;
}

#cu_header {
	color: white;
	background-color: deeppink;
}

#co_header {
	color: white;
	background-color: blue;
}

#pa_header {
	color: white;
	background-color: gold;
}