#timerArea {
	max-width: 300px;
	min-width: 200px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	float: left;
	margin-left: 4px;
}

#remainArea {
	max-width: 300px;
	min-width: 200px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	float: left;
	margin-left: 6px;
	margin-right: 8px;
}

table {
	table-layout:fixed;
}

#messageArea {
	color: red;
}

#tableArea td {
	padding: 2px;
	font-size: 80%;
}
#tableArea td.answered {
	background-color: cyan;
}
#tableArea td.giveUp {
	color: red;
}

#cu_header {
	color: white;
	background-color: deeppink;

}
#cu_header > th {
	padding: 4px;
}

#co_header {
	color: white;
	background-color: blue;
}
#co_header > th {
	padding: 4px;
}

#pa_header {
	color: white;
	background-color: orange;
}
#pa_header > th {
	padding: 4px;
}